<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proevan.spotifystreamer" >

    <application>
        <activity
            android:name=".di.FragmentTestContainerActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
